$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$pad-inline: 44px;

$prm-color: "#4CAF4F";
$def-color: "#FFFFFF";

$neutral-bl: "#263238";
$neutral-sl: "#F5F7FA";
$neutral-gr: "#717171";

$gr-300: "#D9DBE1";
$gr-900: "#18191F";

$d-gr: "#4D4D4D";
$l-gr: "#89939E";
