$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$pad-inline: 144px;

$prm-color: #4caf4f;
$def-color: #ffffff;

$neutral-bl: #263238;
$neutral-sl: #f5f7fa;
$neutral-gr: #717171;

$gr-300: #d9dbe1;
$gr-900: #18191f;

$d-gr: #4d4d4d;
$l-gr: #89939e;
