@use "./mixins" as m;
@use "./variables" as v;

.footer {
  @include m.flex;
  padding: 64px 165px;
  background-color: v.$neutral-bl;

  .info {
    @include m.flex(column, start);
    width: 350px;
    gap: 40px;

    .copyright {
      @include m.flex(column, start);
      @include m.sm-text;
      color: v.$neutral-sl;
      gap: v.$space-sm;
    }

    .social {
      @include m.flex;
      gap: v.$space-md;

      img {
        cursor: pointer;
      }
    }
  }

  .links {
    @include m.flex($al: start);
    gap: 30px;

    .header {
      @include m.md-text;
      color: v.$def-color;
    }

    .company,
    .support,
    .update {
      @include m.flex(column, start);
      gap: v.$space-lg;
    }

    .company,
    .support {
      width: 160px;

      .list {
        @include m.flex(column, start);
        list-style: none;
        gap: 12px;

        li {
          @include m.sm-text;

          .link {
            @include m.lnk;
            color: v.$neutral-sl;
          }
        }
      }
    }

    .update {
      width: 255px;

      .input {
        @include m.flex;
        height: 40px;
        padding-inline: 12px;
        background-color: rgba(v.$def-color, 0.2);
        border-radius: v.$space-sm;
      }

      .input:focus-within {
        outline: 2.5px solid v.$neutral-sl;
        outline-offset: 1.25px;
      }

      .email {
        padding-right: 12px;
        color: v.$def-color;
        background-color: transparent;
        border: none;
      }

      .email:focus {
        outline: none;
      }

      .email::placeholder {
        color: v.$gr-300;
      }

      .input img {
        cursor: pointer;
      }
    }
  }
}
