@use "./mixins" as m;
@use "./variables" as v;

.header {
  @include m.flex;
  padding: 22px 120px 22px 105px;
  background-color: v.$neutral-sl;

  .list {
    @include m.flex;
    gap: 50px;

    .list_item {
      list-style-type: none;
    }

    .link {
      display: inline-block;
      @include m.lnk;
      line-height: v.$space-lg;
      color: v.$gr-900;
    }

    .current {
      font-weight: 500;
    }
  }

  .btns {
    @include m.flex;
    gap: 14px;

    .btn {
      @include m.btn;
      @include m.sm-text;
      padding: 10px 20px;
      border-radius: 6px;
    }

    .btn_wht {
      color: v.$prm-color;
    }

    .btn_grn {
      color: v.$def-color;
      background-color: v.$prm-color;
    }
  }
}
